/* CSS Pagina Produto */

body {
  font-family: 'Work Sans', sans-serif;
}

.topoPagina {
  background: #ffffff;
  padding: 5px;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav ul {
  position: absolute;
  top: 110px;
  right: 0;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
nav a:hover {
  color: #c78c18; /* muda as cores dos links quando passar o mouse */
  text-decoration: underline;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}
.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 60px 20px;
  box-sizing: border-box;
  border: 2px solid black; /* define a borda */
  border-radius: 15px; /* arredonda a borda */
  box-shadow: 10px 10px 30px black;
}

.produtos li:hover {
  border-color: #c78c18;
}

.produtos li:active {
  /*usa o hover pra mudar a ação do elemento quando o mouse estiver clicando*/
  border-color: green;
}

.produtos li:hover h2 {
  /*usa o hover pra mudar a ação do elemento quando o mouse estiver em cima*/
  font-size: 29px;
}

.produtos h2 {
  font-size: 28px;
  font-weight: bold;
}
.produto-descriçao {
  font-size: 18px;
}
.produto-preço {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

.rodape {
  background-color: #43d1eb;
  text-align: center;
  /*background: url(../IMG/ft-bg.jpg);*/
  padding: 5px 10px;
}

.copyright {
  width: 100%;
  padding-top: 50px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 13px;
  margin-top: 20px 0 0;
}

/* CSS Pagina Contato */

.contato-main {
  width: 100%;
  margin: 0 auto;
  padding: 3em 0; /* cria espaçamento proporcional ao tamanho da fonte do site */
  padding-left: 100px;
  background: linear-gradient(#ffffff, #43d1eb);
}

form {
  margin: 40px 0;
}

form label,
form legend {
  font-size: 17px;
  display: block;
  margin: 0 0 10px;
}

/* para replica as atribuiçoes sem precisar repetir o bloco usar a virgula */
.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
  border-radius: 5px;
}
.radio {
  padding-bottom: 10px;
}

.checkbox {
  margin: 20px 0;
}

.envio {
  width: 15%;
  margin-top: 30px;
  padding: 5px 0; /* primeiro campo é cima e baixo e segundo para os lados */
  font-weight: bold;
  font-size: 15px;
  border: 2px solid black; /* define a borda */
  border-radius: 5px; /* arredonda a borda */
  background-color: #c78c18;
  transition: 0.4s all; /* faz transmissao suave de .4 segundos para todos os itens */
  cursor: pointer;
}

.envio:hover {
  background-color: rgb(255, 199, 30);
  transform: scale(1.03); /* aumenta o botao em 3% */
  /*transform: rotate(360deg);*/
}

table {
  margin: 20px 0 15px;
}
table th {
  font-weight: bold;
  background: dimgrey;
  color: white;
}
table th,
table td {
  border: 1px solid black;
  padding: 5px 8px;
}

.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 16px;
}

/*  CSS Pagina inicial */

.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
  color: rgba(0, 0, 0, 0.8);
  /*text-shadow: 2px 2px red;  Sombra de textos */
}
.principal {
  padding: 3em;
  background: #ffffff;
  width: 940px;
  margin: 0 auto;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0; /* 0 cima, 20 direita, 20 baixo 0 esquerda */
}

.mapa {
  padding: 3em 0; /* cria espaçamento proporcional ao tamanho da fonte do site */
  background: linear-gradient(#ffffff, #43d1eb);
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
  box-shadow: 10px 10px 30px black;
}
.mapa p {
  margin: 0 0 2em;
  text-align: center;
}
.endereço {
  font-weight: bold;
  font-size: large;
}

.beneficios {
  padding: 3em 0;
  background: #43d1eb;
}

.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 2.5;
}

.itens:before {
  content: '✦';
}

.itens:first-child {
  /* pseudo-elemento para manipular o primeiro item*/
  font-weight: bold; /*sem precisar criar outra classe */
}
/*
  .itens:last-child{  pseudo-elemento para manipular o ultimo item 
    font-weight: bold; sem precisar criar outra classe 
  }
  
  .itens:nth-child(3){ pseudo-elemento para manipular o numero (nth) item
    font-weight: bold; sem precisar criar outra classe 
  }                     com o nth ainda podemos pular de 2 em 2 botando 2n por ex.*/

.imagem-beneficios {
  width: 60%;
  /*opacity: 1; 
    transition: 400ms;*/
  border: 1px black;
  border-radius: 20px;
  box-shadow: 10px 10px 30px black;
}
/*
  .imagem-beneficios:hover{
    opacity: 0.3;
  }*/

.video {
  width: 39%;
  margin: 2em auto;
  box-shadow: 10px 10px 30px black;
}

/*
  main > p{                 Seletor >, para acessar os filhos de determinado elemento. 
    background: red;        Por exemplo, para acessar todos os p dentro de main:
    
  } 
  
  img + p {                 Seletor +, para acessar o primeiro irmão de determinado elemento.
                            Por exemplo, para acessar o primeiro p após um img:
  }
  
  img ~ p {                 Seletor ~, para acessar todos os irmãos de determinado elemento. 
                            Por exemplo, para acessar todos os p após um img
  }
  
  main p:not(#missao) {     Seletor not, para acessar os elementos, exceto algum. 
                            Por exemplo, para acessar todos os p dentro de main, 
                            exceto o p que tem id missao
  }
  
  
  /* adaptação para mobile */

@media screen and (max-width: 480px) {
  .caixa,
  .principal,
  .conteudo-beneficios,
  .mapa-conteudo,
  .video {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  nav ul {
    position: static;
  }
  .lista-beneficios,
  .imagem-beneficios {
    width: 100%;
  }
}
